.cardContainer {
  padding: 40px 25px 0;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 500px;
  @media (max-width: 1171px) {
    justify-content: center;
  }
  .card {
    min-width: 350px !important;
    margin-bottom: 30px;
    cursor: pointer;
    margin-right: 30px;
  }
}
