@import './common/color';

.HeaderContainer {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 40px;
  box-shadow: 1px 1px 8px $light_gray;
  background-color: $white;
  z-index: 5;
  .appLogo {
    width: 80pxx;
    height: 60px;
    display: flex;
    img {
      height: 35px;
      width: 35px;
    }
    h4 {
      font-family: 'Courier New', Courier, monospace;
      font-style: italic;
      font-weight: bolder;
      padding-top: 10px;
    }
  }
  .HeaderLinks {
    display: flex;
    width: 220px;
    padding-top: 10px;
    @media (max-width: 950px) {
      display: none;
    }
    a {
      padding: 2px 10px;
      font-weight: bolder;
      color: inherit;
      font-size: 0.95rem;
      &:hover {
        color: $green;
      }
    }
    .AuthLinks {
      width: 130px;
      display: flex;
      a {
        padding: 0 5px;
      }
    }
    .btn-outline-success {
      padding: 0 15px;
    }
  }
  .mobileNav {
    padding-top: 8px;
    @media (min-width: 950px) {
      display: none;
    }
  }
}
.displayMobileNav {
  width: 100%;
  background-color: #1e3856;
  position: fixed;
  top: 60px;
  bottom: 0;
  z-index: 5;
  li {
    list-style: none;
    padding: 10px;
    border-bottom: 1.5px solid hsla(0, 0%, 100%, 0.4);
  }
}
